<div class="row">
  <div class="large-12 columns">

    <ol class="navigation">
      <li class="todo">Select Service</li>
      <li class="todo">Authorize</li>
      <li class="todo">Migrate your data</li>
    </ol>

    <h1>Import your playlist from</h1>

    <div class="row selection-container">

      <div class="large-12 columns selection">
        <%= image_tag("cassettes/spotify_with_left.PNG", width: 200) %>
        <%= link_to "From Spotify to Rdio", "/auth/spotify", class: "button large alert round" %>
        <%= image_tag("cassettes/rdio_empty_right.PNG", width: 200) %>
      </div>

      <div class="large-12 columns selection">
        <%= image_tag("cassettes/rdio_with_left.PNG", width: 200) %>
        <%= link_to "From Rdio to Spotify", "/auth/rdio", class: "button large round" %>
        <%= image_tag("cassettes/spotify_empty_right.PNG", width: 200) %>
      </div>

    </div>

  </div>
</div>
