
<!--
<pre>
  <%= @usermail.inspect %>
</pre>
<pre>
  <%= @userplaylists.inspect %>
</pre>
-->

<ol class="navigation">
  <li class="done">Select Service</li>
  <% if @callback %>
    <% if @spotify %>
      <li class="done">Authorize Spotify</li>
    <% else %>
      <li class="current">Authorize Spotify</li>
    <% end %>

    <% if @rdio %>
      <li class="done">Authorize Rdio</li>
    <% else %>
      <li class="current">Authorize Rdio</li>
    <% end %>
  <% else %>
    <li class="current">Authorize Spotify</li>
    <li class="todo">Authorize Rdio</li>
  <% end %>

  <li class="todo">Migrate your data</li>
</ol>

<% if @callback %>
  <% if @spotify && @rdio %>
  <h1>Ooops. This shouldn't have happened!</h1>
<% elsif @rdio %>
  <h1>Connected with Rdio.</h1>
<% elsif @spotify%>
  <h1>Connected with Spotify.</h1>
<% end %>

<div class="row">
  <div class="large-12 columns">

    <% if @spotify && @rdio %>
      <%= link_to 'Try again', '/', class: "button large alert round large-margin" %>
    <% elsif @rdio %>
      <h3>Now sign in to Spotify to free your music!</h3>
      <%= link_to 'Sign in with Spotify', '/auth/spotify', class: "button large alert round large-margin" %>
    <% elsif @spotify%>
      <h3>Now sign in to Rdio to free your music!</h3>
      <%= link_to 'Sign in with Rdio', '/auth/rdio', class: "button large alert round large-margin" %>
    <% end %>

  </div>
</div>

<% else %>
  <h3>Let's authorize us to access your playlists on Spotify</h3>
  <%= link_to 'Sign in with Spotify', '/auth/spotify', class: "button large alert round large-margin" %>
<% end %>

